<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>PediCare+</title>
  <link href="./stylesheets/output.css" rel="stylesheet">
</head>
<body class="w-full h-full m-0 p-0 box-border bg-pattern font-sans text-fontColor">

  <!-- Sessão Navbar -->
  <section class="navbar w-full bg-pattern shadow-shape p-6 box-border relative z-10">
    <%-include('navbar')  %>
  </section>
  
  <!-- Sessão de Header -->
  <section class="slogan bg-secondary w-full text-white h-80 px-7 py-9">
    <%-include('header') %>
  </section>

  <!-- Sessão do Carrossel -->
  <section id="funcionalidades" class="carrosel bg-pattern py-8 w-full flex flex-col px-2 scroll-beha">
    <%- include('carousel') %>
  </section>

  <!-- Divisor -->
  <%-include('divisor')%>

  <!-- Sessão de Slogan -->
  <section class="h-fit flex items-center justify-start bg-pattern">
    <%-include('slogan')%>
  </section>

  <!-- Sessão do Sobre -->
  <section id="sobre" class="sobre bg-pattern py-16 px-8 w-full">
    <%-include('sobre')%>
  </section>

  <!-- Sessão do Rodapé -->
  <footer id="contato" class="bg-secondary py-8 w-full flex flex-col px-2">
    <%-include('footer') %>    
  </footer>
  
  <!-- Script do Carrossel -->
  <script src="./javascripts/slider.js"></script>
  
</body>
</html>