<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <title>Editar Paciente - PediCare+</title>
    <style>
        body {
            font-family: 'Asap', sans-serif;
        }

        input.field, select {
            font-family: 'Asap', sans-serif;
        }
    </style>
</head>
<body class="bg-[url('/images/fundo-paciente.png')] bg-cover bg-center min-h-screen">
    <header class="bg-[#2C5545] h-20 shadow-lg flex items-center p-4">
        <img src="/images/logo-branco.png" alt="logo" class="h-12">
    </header>

    <!-- Container -->
    <div class="bg-white bg-opacity-90 max-w-4xl mx-auto my-10 p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-center text-[#2C5545] mb-8">Editar Paciente</h2>

        <!-- Formulário de Edição -->
        <form action="/pacientes/editar/<%= paciente.id %>?_method=PUT" method="POST" class="space-y-6" id="editarForm">

            <!-- Input para ID_usuario -->
            <input type="hidden" id="usuario" name="id_usuario" value="<%= paciente.id_usuario %>">

            <!-- input para cpf -->
            <input type="hidden" id="cpf" name="cpf" value="<%= paciente.cpf %>">

            <!-- Selecionar Usuário Existente -->
            <div class="form-group">
                <label for="usuario" class="block text-sm font-medium text-[#2C5545] mb-2">Usuário:</label>
                <select id="usuario" name="id_usuario" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" disabled>
                        <option value=""><%= paciente.usuario_nome %></option>
                </select>
            </div>

            <!-- Nome, Idade, CPF, Data de Nascimento e Gênero -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="form-group">
                    <label for="nome" class="block text-sm font-medium text-[#2C5545] mb-2">Nome do Paciente:</label>
                    <input type="text" id="nome" name="nome" value="<%= paciente.nome %>" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" required>
                </div>
                <div class="form-group">
                    <label for="idade" class="block text-sm font-medium text-[#2C5545] mb-2">Idade:</label>
                    <input type="number" id="idade" name="idade" value="<%= paciente.idade %>" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" required>
                </div>
                <div class="form-group">
                    <label for="cpf" class="block text-sm font-medium text-[#2C5545] mb-2">CPF:</label>
                    <input type="text" id="cpf" name="cpf" value="<%= paciente.cpf %>" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" disabled>
                </div>
                <div class="form-group">
                    <label for="data_nasc" class="block text-sm font-medium text-[#2C5545] mb-2">Data de Nascimento:</label>
                    <input type="date" id="data_nasc" name="data_nasc" value="<%= paciente.data_nasc.toISOString().split('T')[0] %>" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" required>
                </div>
                <div class="form-group">
                    <label for="genero" class="block text-sm font-medium text-[#2C5545] mb-2">Gênero:</label>
                    <select id="genero" name="genero" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" required>
                        <option value="" disabled>Selecione o gênero</option>
                        <option value="M" <%= paciente.genero === 'M' ? 'selected' : '' %>>Masculino</option>
                        <option value="F" <%= paciente.genero === 'F' ? 'selected' : '' %>>Feminino</option>
                        <option value="O" <%= paciente.genero === 'O' ? 'selected' : '' %>>Outro</option>
                    </select>
                </div>
                <!-- Relação com o Paciente -->
                <div class="form-group">
                    <label for="relacao_paciente" class="block text-sm font-medium text-[#2C5545] mb-2">Relação com o Paciente:</label>
                    <select id="relacao_paciente" name="relacao_paciente" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" required>
                        <option value="" disabled>Selecione a relação</option>
                        <option value="mae" <%= paciente.relacao_paciente === 'mae' ? 'selected' : '' %>>Mãe</option>
                        <option value="pai" <%= paciente.relacao_paciente === 'pai' ? 'selected' : '' %>>Pai</option>
                        <option value="outro" <%= paciente.relacao_paciente === 'outro' ? 'selected' : '' %>>Outro</option>
                    </select>
                </div>
            </div>

            <!-- Medicamentos, Alergias, Doenças Existentes -->
            <div class="space-y-4">
                <div class="form-group">
                    <label for="alergias_paciente" class="block text-sm font-medium text-[#2C5545] mb-2">Alergias:</label>
                    <input type="text" id="alergias_paciente" name="alergias" value="<%= paciente.alergias %>" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" required>
                </div>
                <div class="form-group">
                    <label for="medicamentos_paciente" class="block text-sm font-medium text-[#2C5545] mb-2">Medicamentos em Uso:</label>
                    <input type="text" id="medicamentos_paciente" name="medicamentos_paciente" value="<%= paciente.medicamentos_paciente %>" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" required>
                </div>
                <div class="form-group">
                    <label for="doencas_existentes" class="block text-sm font-medium text-[#2C5545] mb-2">Doenças Pré-Existentes:</label>
                    <input type="text" id="doencas_existentes" name="doencas_existentes" value="<%= paciente.doencas_existentes %>" class="input-field text-sm border border-gray-300 rounded-lg p-4 w-full focus:border-[#2C5545] focus:ring-[#2C5545] focus:outline-none transition ease-in-out" required>
                </div>
            </div>

            <div class="py-6 box-border">
                <div id="mensagemErro" class="text-red-600 text-sm font-semibold text-center hidden p-0 m-0"></div>
            </div>

            <!-- Botão de Atualizar -->
            <div class="flex justify-center mt-8">
                <button type="submit" class="bg-[#2C5545] hover:bg-[#234536] text-white font-bold py-4 px-8 rounded-lg shadow-md transition duration-300 ease-in-out hover:shadow-lg">
                    ATUALIZAR
                </button>
            </div>
        </form>
    </div>
</body>

<script>
    document.getElementById("editarForm").addEventListener("submit", async function(event) {
        event.preventDefault(); // Impede o envio padrão do formulário

        // Captura os dados do formulário
        const formData = new FormData(event.target);
        const data = {};
        formData.forEach((value, key) => (data[key] = value));

        try {
            // Envia a solicitação para o servidor
            const response = await fetch(event.target.action, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            });

            // Verifica se a resposta foi bem-sucedida
            const mensagemErro = document.getElementById("mensagemErro");
            if (!response.ok) {
                const errorData = await response.json();
                
                // Exibe mensagem de erro específica
                if (errorData.message) {
                    mensagemErro.textContent = errorData.message;
                } else {
                    mensagemErro.textContent = "Erro desconhecido. Por favor, tente novamente.";
                }

                mensagemErro.classList.remove("hidden"); // Mostra a mensagem de erro
                return;
            }

            // Redireciona caso seja bem-sucedido
            window.location.href = "/home/home-administrador";

        } catch (error) {
            console.error("Erro ao enviar o formulário:", error);
            const mensagemErro = document.getElementById("mensagemErro");
            mensagemErro.textContent = "Erro ao enviar o formulário. Tente novamente.";
            mensagemErro.classList.remove("hidden");
        }
    });
</script>

</html>
